DirectoryIndex index.html

RewriteEngine on

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

 RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?strumix\.ir$ [NC]
RewriteRule ^(.*)$ http://www.strumix.com/$1 [L,R=301]


RewriteEngine On
ErrorDocument 404 /404error.html