main * {
  transition: border-radius 0.5s;
}
main {
  background: #f2ecdc;
  font-family: "YekanBakhFaNum", "vazir", "nazanin", "Dubai", Arial, sans-serif;
  direction: rtl;
}
.hero {
  height: 95vh;
  display: flex;
  justify-content: center;
  background: #f2ecdc;

  font-family: "Damn", "Rokh";
  font-weight: 400;
  text-transform: uppercase;

  position: relative;
}
.hero .imageSide {
  position: relative;
  margin: 10vh 0 0 0;
}
.hero .imageSide img {
  width: 50vmin;
  height: 70vmin;
  object-fit: cover;
  border-radius: 100vmin 100vmin 0 0;
  z-index: 1;
  position: relative;
}
.hero .imageSide > div {
  position: absolute;
  display: inline;

  width: 110vmin;
  height: 4vmin;

  top: 35%;
  right: -30%;
  transform: rotate(-35deg);

  background: #ffffff;
  mix-blend-mode: difference;

  transition: all ease-out 0.5s;
}
.hero .titleSide {
  margin: 15vh 5vmin 0 0;
}
.hero .titleSide > .top {
  display: flex;
  align-items: center;
  font-size: clamp(1rem, 3vmin, 100rem);
}
.hero .titleSide > .top hr {
  width: 10vmin;
  border: 0;
  border-top: 0.3vmin solid #000000;
  padding: 0;
  margin: 5vmin 1vmin;
  height: 0.1vmin;
}
.hero .titleSide > .midOne {
  font-size: clamp(3rem, 55vmin, 100rem);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 0.9;
}
.hero .titleSide > .midTwo {
  display: flex;
  align-items: end;
  justify-content: left;
  font-size: clamp(3rem, 7vmin, 100rem);
  height: 3vmin;
}
.hero .titleSide > .midTwo p:nth-child(2) {
  font-size: clamp(3rem, 15vmin, 100rem);
  line-height: 0.7;
  margin: 0 1vmin;
}
.hero .scrollFlesh {
  position: absolute;
  right: 5vmin;
  bottom: 0;
  animation: jiggle 1s alternate infinite;
}
@keyframes jiggle {
  0% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-2vmin);
  }
}
.section2 {
  display: flex;
  justify-content: center;
  background: #f2ecdc;
  padding: 0 2vw;

  position: relative;
}

.section2 img {
  object-fit: cover;
  object-position: center;
  width: 70%;
  height: 100vh;

  border-radius: 5vmin 5vmin 0 0;
}
.section2 .cyclingCircles {
  width: 50%;
  height: 100%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
}
/* @media only screen and (max-width: 768px) {
  .section2 .cyclingCircles {
    display: none;
  }
} */
.section2 .Circles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.section2 .Circles > div {
  position: absolute;
  width: 100%;
  height: 100%;

  border: 0.3vmin rgb(0, 0, 0) solid;
  border-radius: 50%;
}
.section2 .Circles1 {
  transform: rotateX(130deg);
}
.section2 .Circles2 {
  transform: rotateX(50deg);
}

.section3 {
  background: #0f0f0f;
  height: 100vh;
  border-radius: 5vmin 5vmin 0 0;
  padding: 10vmin;

  display: flex;
}
.section3 div:nth-child(1) {
  border-radius: 200vh 200vh 0 0;
  overflow: hidden;
  width: 75vmin;
}
.section3 div:nth-child(1) img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.section3 .textSide {
  width: fit-content;
  color: white;
  font-size: clamp(1rem, 2.5vmin, 100rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vmin;
}
.section3 .textSide h2 {
  font-family: "Damn", "Rokh";
  width: 100%;

  font-size: clamp(2rem, 5vmin, 100rem);
}
.section3 .textSide p {
  margin: 1.5vmin 0;
  text-align: justify;
  text-justify: auto;
}
.section3 .textSide p:nth-child(2)::first-line {
  /* text-indent: 2em; */
  border-right: 10px solid #fff;
  padding-right: 10px;
}
.section3 .textSide p:nth-child(2) > span {
  display: inline-block;
  width: 25vmin;
  height: 0.1vmin;
  vertical-align: middle;
  margin-left: 1vmin;
  background-color: white;
}
.section3 .textSide hr {
  width: 70%;
  margin: 3vmin 0;
}
.section4 {
  font-family: "Damn", "Rokh";
  color: #363029;

  background: #f2ecdc;
  height: 100vh;
  border-radius: 5vmin 5vmin 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section4 > div {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1vmin #cdcdcd solid;
  padding: 3.5vmin 2vmin;

  position: relative;
  overflow: hidden;
}
.section4 > div img {
  width: 3vmin;
  height: 3vmin;
}
.section4 > div:first-child {
  padding: 2vmin 0;
  border-bottom: 0.1vmin #363029 solid;
}
.section4 h3 {
  font-size: clamp(1rem, 4vmin, 100rem);
}
.section4 h3 > #line {
  display: inline-block;
  width: 0vmin;
  height: 0.1vmin;
  vertical-align: middle;
  margin-left: 3vmin;
  background: #363029;
}
.section4 p {
  font-size: clamp(0.8rem, 2.5vmin, 100rem);
}

.section4 > div:not(:last-child) > div {
  display: flex;
  flex-direction: column;
}
.section4 > div:not(:last-child) p:last-child {
  position: absolute;
  top: 105%;
}
.section4 > div:not(:last-child) img {
  transition: ease 0.5s;
}
.section4 > div:not(:last-child) img:last-child {
  position: absolute;
  top: 105%;
  transition: ease 0.5s;
}
.section4 > div:not(:last-child):hover img:first-child,
.section4 > div:not(:last-child):hover p:first-child {
  transform: translateY(-250%);
  transition: ease 0.5s;
}
.section4 > div:not(:last-child):hover img:last-child,
.section4 > div:not(:last-child):hover p:last-child {
  top: 50%;
  transform: translateY(-50%);
  transition: ease 0.5s;
}
.section4 > div:not(:last-child):not(:first-child) {
  cursor: pointer;
}
.section4 > div:not(:last-child):not(:first-child)::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0.1vmin;
  width: 0%;
  background: #363029;
  transition: 1s ease;
}

.section4 > div:not(:first-child):not(:first-child):hover::before {
  width: 100%;
}
.section4 > div:not(:last-child):not(:first-child)::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0%;
  width: 100%;
  background: rgba(221, 216, 203, 0.404);
  transition: 0.6s ease;
  z-index: -1;
}

.section4 > div:not(:first-child):not(:first-child):hover::after {
  height: 100%;
}
/*---------------------------*/
.section4 > div:last-child {
  justify-content: center;
  border: none;
}
.section4 > div:last-child > div {
  border: 0.1vmin solid #3e362e;

  border-radius: 0.5vmin;
  overflow: hidden;
}
.section4 > div:last-child > div a {
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #3e362e;
}
.section4 > div:last-child div a:hover {
  background: #3e362e;
  color: white;
}
.section4 > div:last-child p {
  padding: 0 1vmin;

  font-size: clamp(0.9rem, 1vw, 100rem);
}
.section4 > div:last-child > div div {
  background: #3e362e;
  display: flex;
  flex-direction: column;
  padding: 1vmin;
  position: relative;
}
.section4 > div:last-child > div div img:last-child {
  position: absolute;
  top: 105%;
}
.section4 > div:last-child > div:hover div img:first-child {
  transform: translateX(-200%);
  transition: ease 0.5s;
}
.section4 > div:last-child > div:hover div img:last-child {
  top: 50%;
  transform: translateY(-50%);
  transition: ease 0.5s;
}
.section4 > div:last-child img {
  filter: brightness(100);
  width: 2vmin;
  height: 2vmin;
}

/*---------------------------*/
.section4 #productImg {
  position: absolute;
  top: 0;
  left: 50%;
  border: none;
  width: 70vmin;
  height: 50vmin;
  pointer-events: none;
  z-index: 2;

  opacity: 0;

  transition: 0.3s ease-out;
}
.section4 #productImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.noPinSection {
  background: #000000;
  color: wheat;
  height: 270vh;
  border-radius: 5vmin 5vmin 0 0;
  overflow: hidden;
}
.section5 {
  height: 100vh;

  background-image: url(../../assets/img/Strumix-structure-view3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10vh;
}
.section5 .infiniteScrollText {
  display: flex;
  align-items: center;
  direction: ltr;
  width: 110vw;

  font-family: "Damn";
  text-transform: uppercase;
  font-weight: 200;
  background-color: rgba(242, 236, 220, 0.47);
  color: black;
  font-size: clamp(5rem, 6vw, 100rem);
  padding: 2vmin 0;
  transform: rotate(5deg) translateX(5vw);
}
.section5 .infiniteScrollText:last-child {
  font-family: "rokh";
  background-color: rgba(54, 48, 41, 0.87);
  color: white;
  font-size: clamp(2rem, 3vw, 100rem);
  padding: 2vmin 0;
  transform: rotate(-5deg) translate(5vw, -15vmin);
}
.section5 .infiniteScrollText div {
  position: relative;
  white-space: nowrap;
  will-change: transform;
}

.section5 .infiniteScrollText div span {
  display: inline-block;
}

.section6 {
  padding: 10vmin 10vw;
  color: white;
}

.section6 > div:first-child {
  border-bottom: 0.1vmin white solid;
  font-family: "Rokh";
  font-size: clamp(1rem, 3vmin, 100rem);
  padding: 2vmin 0;
}
.section6 > div:nth-child(2) {
  padding: 5vmin 5vw;
}
.section6 > div #line {
  display: inline-block;
  width: 0vmin;
  height: 0.1vmin;
  vertical-align: middle;
  margin-left: 3vmin;
  background: #ffffff;
}
.section6 table {
  table-layout: auto;
  width: 100%;
}
.section6 table thead {
  font-family: "Rokh";
  text-align: right;
  font-size: clamp(1rem, 3vmin, 100rem);
}
.section6 table thead th {
  padding: 2vmin 0;
}
.section6 table th,
.section6 table td {
  white-space: nowrap;
}
.section6 table th:last-child,
.section6 table td:last-child {
  width: 0;
}
.section6 table tbody td {
  position: relative;
  text-indent: 5vmin;
  font-size: clamp(1rem, 2.5vmin, 100rem);
}
.section6 table td::before {
  content: "";
  position: absolute;
  right: 2vmin;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  background: white;
  height: 0.8vmin;
  width: 0.8vmin;
  border-radius: 50%;
}
