html {
  background: #f2ecdc;
  font-family: Rokh;
}
.splashScreen {
  position: fixed;
  top: 0;
  background-color: #1a1a1a;
  width: 100%;
  height: 100vh;
  height: 100lvh;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: clamp(3rem, 10vw, 100rem);
  text-transform: uppercase;
  color: white;

  display: flex;
  justify-content: center;
  align-items: end;

  padding-bottom: 20%;

  z-index: 999;
}
.englishText {
  font-family: "Montserrat", "Rokh";
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30vmin 0 10vmin 0;
}
.hero > p:nth-child(1) {
  font-size: clamp(3rem, 28.5vw, 100rem);
  text-transform: uppercase;
  color: #e7c774;
  line-height: 0.25;
  font-family: Damn !important;
}
/* .hero > p:nth-child(1) span {
  } */
.hero > p:nth-child(2) {
  font-size: clamp(2rem, 9vw, 100rem);
  line-height: 0.5;
}
.selection {
  width: 100%;
}
.selection .topSectionContainer {
  position: relative;
  font-size: clamp(0.9rem, 1vw, 100rem);
}
.selection .topSectionContainer::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  width: 15vw;
  background: rgb(242, 236, 220);
  background: linear-gradient(49deg, rgba(242, 236, 220, 1) 30%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
}
.selection .main {
  color: #3c3a35;
  display: flex;
  flex-wrap: nowrap;

  overflow-x: scroll;
  overflow-y: hidden;

  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 15vmin 0 15vmin;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.selection .main::-webkit-scrollbar {
  display: none;
}
.selection .main * {
  transition: all 0.5s ease-in-out;
}
.selection .buttonCards {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  padding: 1vmin 4vmin;
  display: flex;
  background-color: #00ff0800;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.selection .buttonCards:active {
  background-color: #d4cfc2;
  scale: 1.1;
  transition: all 0.1s ease-in-out;
}
.selection .buttonCards::before {
  position: absolute;
  content: "";
  right: 1.5vmin;
  top: 35%;
  bottom: 50%;
  width: 1vmin;
  height: 1vmin;
  border: 0.1vmin solid #8e847d;
  border-radius: 50%;
}
.selection .buttonCards.active::before {
  border: 0.1vmin solid #212121;
  background: #212121;
}
.selection .buttonCards.active {
  color: #212121;
}

.selection .buttonCards p:first-child {
  position: absolute;
  top: 105%;
}

.selection .buttonCards:hover p:first-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.selection .buttonCards:hover p:nth-child(2) {
  transform: translateY(-150%);
}
/* ----------------------------------------- */

.selection .bottomSectionContainer {
  background: #f0e7ce;
  color: #3c3a35;
  font-size: clamp(0.8rem, 0.9vw, 100rem);

  margin: 3vmin 20vmin;
  padding: 3vmin;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.selection .bottomSectionContainer * {
  transition: all 0.2s ease-in-out;
}
.selection .bottomSectionContainer > div {
  overflow: hidden;
  padding: 1.5vmin 4vmin;
}
.selection hr {
  margin: 5vmin 15vmin 0 15vmin;
  border: 0;
  border-top: 0.1vmin solid #a6a6a6;
  padding: 0;
}
.selection .counter {
  align-items: end;
  justify-content: end;
  display: flex;
  margin: 2vmin 15vmin;
  font-size: clamp(0.8rem, 0.8vw, 100rem);
  color: #3b3a35;
}
@media only screen and (max-width: 768px) {
  .selection .bottomSectionContainer {
    margin: 3vmin 3vmin;
  }
  .selection hr {
    margin: 5vmin 5vmin 0 5vmin;
  }
  .selection .counter {
    margin: 2vmin 5vmin;
  }
  .selection .main {
    padding: 0 5vmin 0 15vmin;
  }
}
/* ----------------------------------------- */

.productList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10vmin;
  font-size: clamp(0.7rem, 1vw, 100rem);
}
.productList > div {
  width: 30%;
  padding: 3vmin;
  margin: 1vw;
  background: #dcd2b6;
}
.productList > div:hover {
  filter: brightness(1.1);
}
.productList a {
  text-decoration: none;
  color: black;

  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.productList img {
  object-fit: cover;
  width: 100%;
  height: 30vw;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.productList > div > a > p:first-of-type {
  padding: 5vmin 0 0 0;
}

@media only screen and (max-width: 992px) {
  .productList {
    margin: 0 3vmin;
  }
  .productList > div {
    width: 47%;
  }
}
