:root {
  --background-color: #f2ecdc;
  --black: black;
  --black-70percent: #1d1d1d;
  --black-hover: #00000020;
  --white: white;
  --white-90percent: #f2f2f2;
  --white-70percent: #d9d9d9;
  --white-10percent: #ffffff1a;
  --section5-background-first: #ffab2e;
  --section5-background-second: #ff9a03;
  --section5-card-first: #ffcb6d;
  --section5-card-second: #363029de;
  --invert-icon-color: none;
  --invert-icon-color2: none;
  --invert-icon-color3: invert(99%) sepia(0%) saturate(0%) hue-rotate(141deg)
    brightness(109%) contrast(101%);
}
/* :root {
  --background-color: #0f0f0f;
  --black: #e7e7e7;
  --black-70percent: #dbdbdb;
  --black-hover: #ffffff20;
  --white: black;
  --white-90percent: #2e2e2e;
  --white-70percent: #141414;
  --white-10percent: #ffffff1a;
  --section5-background-first: #161512;
  --section5-background-second: #241f14;
  --section5-card-first: #696969;
  --section5-card-second: #ff1f1fde;
  --invert-icon-color: invert(48%) brightness(1000%);
  --invert-icon-color2: invert(99%) sepia(0%) saturate(0%) hue-rotate(338deg) brightness(113%)
    contrast(100%);
  --invert-icon-color3: invert(99%) sepia(0%) saturate(0%) hue-rotate(141deg) brightness(109%) contrast(101%);
} */

body {
  background: var(--background-color);
}
* {
  transition: color 0.2s ease, background-color 0.2s ease;
}
#smooth-content {
  position: relative;
  pointer-events: none;
}
#smooth-content section {
  pointer-events: all;
}
.hero {
  height: 50vh;
  font-family: rokh;
  font-weight: 800;
  font-size: clamp(1.4rem, 3.5vw, 100rem);
  padding: 8vmin 8vmin 0 8vmin;
  border-bottom: 1px var(--black) solid;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.hero h1 {
  position: relative;
}
.hero img {
  position: absolute;
  width: 10vmin;
  min-width: 80px;
  top: 3vmin;
  /* filter: var(--invert-icon-color2); */
}
.hero img {
  filter: var(--invert-icon-color2);
}

.section2 {
  background: var(--background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}
.section2 header {
  width: 100%;
  font-family: rokh;
  font-weight: 400;
  font-size: clamp(0.9rem, 1vw, 100rem);
  display: flex;
  flex-direction: row;
  padding: 3vmin;
  background: var(--background-color);
  border-bottom: 0 var(--black) solid;
  z-index: 9;
}
.section2 header a {
  text-decoration: none;
  color: var(--black);
  padding: 0 2vmin;

  position: relative;
}

.section2 header a::after {
  content: "";
  position: absolute;
  height: 0.5vmin;
  top: 90%;
  right: 50%;
  left: 50%;
  border-radius: 10vmin;
  background: var(--black);
  transition: 1s all;
}
.section2 header a:nth-child(1):after {
  height: 0;
}
.section2 header a:nth-child(5):after,
.section2 header a:nth-child(7):after {
  height: 0.2vmin;
}
.section2 header a:hover::after {
  right: 15%;
  left: 15%;
}
.section2 header a:nth-of-type(1) {
  position: relative;
  color: white;
}
.section2 header a:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: -10%;
  right: 0;
  left: 0;
  bottom: -10%;
  transform: rotate(-3deg);
  background: #f12828;
  z-index: -1;
  transition: 0.2s ease;
}
.section2 header a:nth-of-type(1):hover::before {
  transform: rotate(3deg);
}
.section2 header a:nth-of-type(2) {
  margin-right: auto;
}
.section2 header a:nth-of-type(5) {
  margin-right: auto;
}
.section2 header a:nth-of-type(2),
.section2 header a:nth-of-type(3),
.section2 header a:nth-of-type(4) {
  font-weight: 700;
}
.section2 header span,
.section2 header a:nth-of-type(5),
.section2 header a:nth-of-type(6) {
  font-weight: 300;
  color: var(--black);
}

.mainBlogContainer {
  color: var(--black);
  font-family: YekanBakhFaNum;
  text-align: justify;
  text-justify: auto;
  font-size: 1rem;
  width: 1000px;
  line-height: 1.8;
}
.mainBlogContainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.mainBlogContainer .ql-align-center {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.mainBlogContainer .ql-align-right {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
p:has(> .ql-size-small) {
  font-size: 0.7rem;
  line-height: 1.2;
}
.mainBlogContainer h3 {
  font-size: 1.17em;
}
.mainBlogContainer h2 {
  font-size: 1.3em;
}
.mainBlogContainer h1 {
  font-size: 1.6em;
}

.ql-font-YekanBakh {
  font-family: "YekanBakhFaNum";
}
h1 .ql-font-YekanBakh {
  font-weight: 900;
}
h2 .ql-font-YekanBakh {
  font-family: "YekanBakhFaNum";
  font-weight: 900;
}
h3 .ql-font-YekanBakh {
  font-family: "YekanBakhFaNum";
  font-weight: 600;
}
strong.ql-font-YekanBakh {
  font-weight: 600;
}

.ql-font-Rokh {
  font-family: "Rokh";
  font-weight: 300;
}
h1 .ql-font-Rokh {
  font-weight: 800;
}
h2 .ql-font-Rokh {
  font-weight: 400;
}
h3 .ql-font-Rokh {
  font-weight: 400;
}
strong.ql-font-Rokh {
  font-weight: 400;
}

.ql-font-Doran {
  font-family: "Doran";
}
h1 .ql-font-Doran {
  font-weight: 900;
}
h2 .ql-font-Doran {
  font-weight: 800;
}
h3 .ql-font-Doran {
  font-weight: 700;
}

.blogTags {
  font-size: 0.9rem;
  padding: 35px 5vw 25px 5vw;
  font-family: rokh;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.blogTags a {
  text-decoration: none;
  color: var(--black);
  padding: 5px;
}
.blogTags a:hover {
  background: var(--black-hover);
  border-radius: 4px;
}
.section3 {
  position: relative;
  background: var(--white-90percent);
  padding: 3vmin 8vmin;
}
.cardsContainer {
  border: 0.1vmin var(--black) solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: rokh;
  font-weight: 300;
  font-size: clamp(0.8rem, 0.8vw, 100rem);
}
.cardsContainer > div {
  width: 33.33333%;
  padding: 3vmin;
  height: 100%;
  border-right: 0.1vmin var(--black) solid;
}
.cardsContainer > div:first-child {
  border-right: none;
  border-top: none;
}
.cardsContainer > div a {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  color: var(--black);
}
.cardsContainer > div h6 {
  font-size: clamp(0.8rem, 0.8vw, 100rem);
  font-weight: 500;
  padding: 1vmin 0;
}

.cardsContainer > div img {
  object-fit: cover;
  width: 100%;
  height: 40vmin;
  margin: 4vmin 0;
}

.cardsContainer > div a > div {
  display: flex;
  justify-content: space-between;
}

.cardsContainer > div a > div p:first-child {
  background: var(--white-70percent);
  border-radius: 10vmin;
  padding: 0.5vmin 1vmin;
}

.section4 {
  position: relative;
  background: #222222;
  color: white;
  font-size: clamp(1rem, 1vw, 100rem);
  font-family: rokh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.section4 > p:nth-child(1) {
  font-weight: 200;
  margin-top: 3vmin;
}
.section4 > p:nth-child(2) {
  font-weight: 300;
}
.section4 > input {
  width: 80%;
  border: none;
  background-color: transparent;
  font-family: "Montserrat", "rokh";
  font-size: clamp(3rem, 6vw, 100rem);
  font-weight: 600;
  text-align: center;
  padding-block: 0;
  padding-inline: 0;
  outline: none;
  color: #c6383d;
  direction: ltr;
  line-height: 2.4;
}
.section4 ::placeholder {
  font-size: clamp(5rem, 9vw, 100rem);
  color: #ff3138;
}
.section4 ::-webkit-input-placeholder {
  color: #ff3138;
  opacity: 1;
}
.section4 ::-moz-placeholder {
  color: #ff3138;
  opacity: 1;
}
.section4 :-ms-input-placeholder {
  color: #ff3138;
  opacity: 1;
}
.section4 :-moz-placeholder {
  color: #ff3138;
  opacity: 1;
}

.section4 > p:nth-child(4) {
  font-weight: 200;
  transition: transform 0.2s;
}

.section4 > .animate {
  animation: validateEmailEffect 0.3s;
}

@keyframes validateEmailEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.section4 > p:nth-child(5) {
  margin-bottom: 5vmin;
}
.section4 > p:nth-child(6) {
  background: #ffab2e;
  color: black;
  font-size: clamp(0.9rem, 0.9vw, 100rem);
  font-weight: 300;
  padding: 0.5vmin 2vmin 0.5vmin 3vmin;
  border-radius: 1vmin;
  position: absolute;
  top: 55%;
  right: 55%;
  transform: rotate(5deg);
  transition: border-radius 2s, top 1s, right 1s;
  cursor: pointer;
}
.section4 > p:nth-child(6):hover {
  border-radius: 0vmin;
}
.section4 .iconFlesh {
  content: url(../../assets/VectorFlesh2.svg);
  vertical-align: middle;
  height: 100%;
  width: 1vmin;
  min-width: 13px;
  margin-left: 3vmin;
}
.section4 > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: clamp(0.8rem, 0.8vw, 100rem);
  justify-content: space-between;
}

.section4 > div a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  width: 100%;
  text-align: center;
  padding: 1vmin 0;
}
.section4 > div a:hover {
  background: hsla(0, 0%, 100%, 0.1);
}

.section5SpaceHolder {
  height: 40vmin;
  pointer-events: none !important;
}
.section5 {
  height: 40vmin;
  background: linear-gradient(
    90deg,
    var(--section5-background-first) 0%,
    var(--section5-background-second) 100%
  );

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;

  z-index: -1;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.section5 .infiniteScrollText {
  display: flex;
  align-items: center;
  direction: ltr;
  width: 110vw;

  font-family: "Damn";
  text-transform: uppercase;
  font-weight: 200;
  background-color: var(--section5-card-first);
  color: var(--black);
  font-size: clamp(5rem, 6vw, 100rem);
  padding: 2vmin 0;
  transform: rotate(5deg) translateX(5vw);
}
.section5 .infiniteScrollText:last-child {
  font-family: "rokh";
  background-color: var(--section5-card-second);
  color: white;
  font-size: clamp(2rem, 3vw, 100rem);
  padding: 2vmin 0;
  transform: rotate(-5deg) translate(5vw, -10vmin);
}
.section5 .infiniteScrollText div {
  position: relative;
  white-space: nowrap;
  will-change: transform;
}

.section5 .infiniteScrollText div span {
  display: inline-block;
}
.section5 > div:last-child {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.section5 > div:last-child a {
  text-align: center;
  text-decoration: none;
  color: var(--black);
  font-family: rokh;
  font-weight: 300;
  border-top: 0.1vmin var(--black) solid;
  border-right: 0.1vmin var(--black) solid;
  width: 100%;
  padding: 1vmin;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section5 > div:last-child a:hover {
  background: var(--white-10percent);
}
.section5 > div:last-child .iconFlesh {
  content: url(../../assets/VectorFlesh2.svg);
  vertical-align: middle;
  height: 100%;
  width: 1vmin;
  min-width: 13px;
  filter: var(--invert-icon-color);
}

.settings {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: 30px;
  pointer-events: none;
  font-family: rokh;
  font-weight: 300;
  color: var(--white);
  z-index: 100;
}
.settings > div {
  pointer-events: painted;
  cursor: pointer;

  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 15px;
  background: var(--black-70percent);
  /* overflow: hidden; */
}
.settings > div img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  user-select: none;
  filter: var(--invert-icon-color3);
}

.settings > div:nth-child(2) {
  position: relative;
  margin-right: auto;
  margin-left: 10px;
  display: flex;
  white-space: nowrap;
}

.settings > div:nth-child(2) p {
  display: none;
  padding-left: 10px;
}
.settings > div:nth-child(2):hover {
  width: fit-content;
}
.settings > div:nth-child(2):hover p {
  display: block;
}

.settings > div:last-child {
  background: #1d1d1d;
  position: absolute;
  left: 30px;
  bottom: 90px;
  margin-left: -100%;
  width: 280px;
  height: fit-content;
  transition: 0.5s all ease-in-out;
}

.settings > div:last-child a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #665a4e;
  margin-bottom: 15px;
  padding: 15px 5px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.settings > div:last-child a:hover {
  background: #a59382;
}

.settings > div:last-child a:nth-child(1)::before,
.settings > div:last-child a:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 5px;
  background-image: url(../../assets/VectorPhone.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 65px;
  height: 65px;
  transform: rotateY(180deg);
  transition: 0.2s ease;
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(141deg) brightness(109%)
    contrast(101%);
}

.settings > div:last-child a:nth-child(1):hover::before,
.settings > div:last-child a:nth-child(2):hover::before {
  width: 45px;
  height: 45px;
  top: 5px;
}
.settings > div:last-child a:nth-child(5)::before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: -8px;
  background-image: url(../../assets/VectorAtsign.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  transition: 0.2s ease;
}
.settings > div:last-child a:nth-child(5):hover::before {
  width: 40px;
  height: 40px;
  bottom: 8px;
  right: 5px;
}
.settings > div:last-child a:nth-child(3),
.settings > div:last-child a:nth-child(4) {
  align-items: start;
}
.settings > div:last-child a:nth-child(3) p:last-child,
.settings > div:last-child a:nth-child(4) p:last-child {
  align-self: flex-end;
  font-family: Montserrat;
}
.settings > div:last-child a:nth-child(5) {
  margin: 0;
}
.settings > div:last-child a:nth-child(5) p:last-child {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 0.8rem;
}
@media only screen and (max-width: 1100px) {
  .mainBlogContainer {
    width: 100%;
    padding: 10vmin 3vmin;
  }
  .section3 {
    padding: 3vmin 3vmin;
  }
}
@media only screen and (max-width: 992px) {
  .section2 header a:nth-of-type(2),
  .section2 header a:nth-of-type(3),
  .section2 header a:nth-of-type(4) {
    display: none;
  }
  .cardsContainer {
    flex-direction: column;
  }
  .cardsContainer > div {
    padding: 3vmin;
    border-right: none;
    border-top: 0.1vmin var(--black) solid;
    width: 100%;
  }
  .settings {
    padding: 20px;
  }
  .settings > div {
    border-radius: 8px;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .settings > div:last-child {
    left: 20px;
    bottom: 60px;
    width: 220px;
    font-size: 0.8rem;
  }
  .settings > div:last-child a:nth-child(5)::before {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .section5SpaceHolder {
    height: 39vh;
  }
  .section5 {
    height: 40vh;
  }
  .section5 > div:last-child {
    flex-direction: column;
  }
  .settings > div {
    width: 35px;
    height: 35px;
  }
}
